<img
  src="/assets/svg/logo-small.svg"
  alt="logo-small"
  class="ml16 mb20"
>

<nav>
  <ul class="main-menu-list">
    <li *ngFor="let menuItem of menuItems">
      <a class="menu-item" [routerLink]="[menuItem.link]">
        <svg [icon]="menuItem.icon"></svg>
        <span>{{ menuItem.label }}</span>
      </a>
    </li>
  </ul>
</nav>

<p class="medium-text mb20">Subscribers</p>

@for (subscriber of subscribers$ | async; track subscriber.id) {
  <app-subscriber-card
    [profile]="subscriber">
  </app-subscriber-card>
}

<div class="mt20 to-subscribers">
  <a
    [routerLink]="['/login']"
    class="to-subscribers-link medium-text"
  >All Subscribers</a>
  <svg icon="arrow" class="to-subscribers-icon"></svg>
</div>

<footer class="sidebar__footer">
  @if (me(); as me){
    @if (me.avatarUrl) {
      <img [src]="me.avatarUrl | imgUrl" alt="">
    } @else {
      <img src="/assets/images/Img.png">
    }

    <div class="medium-text username-text">{{ me.username }}</div>

    <a [routerLink]="['/settings']" class="settings-btn">
      <svg icon="settings" ></svg>
    </a>
  }
</footer>
